.App {
  min-height: 100vh;
  padding: 0 10px;
  background-color: #fcefed;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #a10802;
  margin: 0;
}
h3 {
  text-align: center;
  margin: 0;
}

.dashboard5 {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.1fr 0.9fr; */
  gap: 1.5rem;
  padding: 10px 10px;
  flex-direction: column;
  /* max-width: 1800px; */
  margin: 20px 20px;
  box-sizing: border-box;
}
.dashboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard-row.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.chart-wrapper.heatmap {
  flex-basis: 30%;
  max-width: 30%;
}

.chart-wrapper.info {
  flex-basis: 20%;
  max-width: 20%;
}

.chart-wrapper.pcp {
  flex-basis: 50%;
  max-width: 50%;
}

.heatmap-component {
  width: 100%;
  height: 100%;
  flex-basis: 40%;
  max-width: 100%;
}

.pcp-component {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  width: 100%;
  max-width: 100%;
}
.chart-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 20px;
}

.chart-heading {
  background-color: #ffecec; /* soft light pink */
  padding: 10px 16px;
  border-radius: 12px;
  margin-left:40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #a10802;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #f5c6c3;
}

.chart-container {
  background: white;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  min-height: 400px;
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.large-font{
  margin: 0px;
  font-size:50px;
}
.info-tab {
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
svg {
  display: block;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  /* height: auto !important; */
  /* max-width: 98%; */
  max-height: 400px;
}
.stress-low {
  color: #4caf50;
}
.stress-moderate {
  color: #ffc107;
}
.stress-high {
  color: #f44336;
}
.info-tab button {
  background: none;
  border: none;
  color: #d35859;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.axis text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.axis path,
.axis line {
  stroke: #ddd;
}

rect {
  transition: stroke 0.2s, stroke-width 0.2s;
}

.placeholder {
  color: #aaa;
  font-size: 1.1em;
}

.placeholder-content {
  margin-top: 20px;
  font-size: 1.1em;
  color: #d35859;
  font-weight: bold;
  opacity: 0.7;
}
path {
  transition: stroke 0.3s ease, opacity 0.3s ease;
}
/* buttons */
.info-button {
  background-color: #f0f4f8;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 8px;
}

.info-button:hover {
  background-color: #dceeff;
  border-color: #66b2ff;
  color: #0056b3;
}
