.bar-chart{
    margin-left: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 390px;
  width: 510px;
  font-size: 1.2em;
  color: #666;
}

.bar {
  transition: fill 0.3s ease;
}

.bar:hover {
  opacity: 0.8;
}

.x-axis text, .y-axis text {
  font-size: 12px;
  fill: #666;
}